{% extends 'main/base.html' %}
{% block title %} Miejscówki {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'add-spots' %}">
        <button class="btn btn-secondary">
            Dodaj miejscówkę!
        </button>
    </a>
    </br>
    </br>
    {% endif %}

    {% for post in object_list %}
    <hr>
        <p>
            <b>{{post.author}}</b>
            </br>
            <a href="{% url 'Spots-Post-Detail' post.pk %}">
                {{post.title}}
            </a>
            </br>
            {% if perms.main.delete_spotspost or user == post.author %}
            <a href="{% url 'delete-spots' post.pk %}">
                (Usuń)
            </a>
            {% endif %}
        </p>
    <hr>
    {% endfor %}

{% endblock %}